@import "tailwindcss";

@layer base {
  :root {
    --font-display: 'Plus Jakarta Sans', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
  }

  body {
    font-family: var(--font-body);
  }

  h1, h2, h3, h4, h5, h6, .font-display {
    font-family: var(--font-display);
  }

  .font-mono-val {
    font-family: var(--font-mono);
  }

  /* Global removal of number input spinners (arrows) */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }

  input[type="number"] {
    -moz-appearance: textfield !important;
    appearance: textfield !important;
  }
}

/* Custom subtle scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f2f4;
}
::-webkit-scrollbar-thumb {
  background: #c7c4d7;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a29fb4;
}

