# Control de versiones
.git
.gitignore
.gitattributes

# Entornos e IDEs
.idea
.vscode
*.iml
*.ipr
*.iws

# Archivos de compilación y salida (Maven / Gradle)
target/
build/
.gradle/
bin/
out/

# Logs y archivos temporales
*.log
logs/
*.tmp

# Documentación o archivos de Docker
Dockerfile
docker-compose*.yml
.dockerignore
README.md
LICENSE

# Archivos del sistema operativo
.DS_Store
Thumbs.db